language: ruby
rvm: 2.7.1
before_install:
- gem install bundler
cache: bundler
script:
- bundle exec rspec -fd
deploy:
- provider: lambda
  function_name: OnSiteHoldRequestService-qa
  description: A service for creating on-site holds including on-site EDD
  region: us-east-1
  role: arn:aws:iam::946183545209:role/lambda-full-access
  runtime: ruby2.7
  module_name: app
  handler_name: handle_event
  environment_variables:
  - LOG_LEVEL=debug
  - SIERRA_API_BASE_URL=https://nypl-sierra-test.nypl.org/iii/sierra-api/v6/
  - SIERRA_OAUTH_URL=https://nypl-sierra-test.nypl.org/iii/sierra-api/v6/token
  - SIERRA_OAUTH_ID=AQECAHh7ea2tyZ6phZgT4B9BDKwguhlFtRC6hgt+7HbmeFsrsgAAAHoweAYJKoZIhvcNAQcGoGswaQIBADBkBgkqhkiG9w0BBwEwHgYJYIZIAWUDBAEuMBEEDOcLof0wS+XIKrTc+QIBEIA3U0vf8ZaPKeyWsTF9VmuIThYmkQr1UYAvnbkSQVeXf90n+h/3JHk0WwoSPSVK9yG6/WxCzIJPkA==
  - SIERRA_OAUTH_SECRET=AQECAHh7ea2tyZ6phZgT4B9BDKwguhlFtRC6hgt+7HbmeFsrsgAAAGowaAYJKoZIhvcNAQcGoFswWQIBADBUBgkqhkiG9w0BBwEwHgYJYIZIAWUDBAEuMBEEDB20W+OqtkHEZQ7jvwIBEIAnZDf6KmlbYbOMmjkiF+Y57XtB0WfjGuAac5e7P88rk850OlHP7Q2y
  - PLATFORM_API_BASE_URL=https://qa-platform.nypl.org/api/v0.1/
  - NYPL_OAUTH_URL=https://isso.nypl.org/
  - NYPL_OAUTH_ID=AQECAHh7ea2tyZ6phZgT4B9BDKwguhlFtRC6hgt+7HbmeFsrsgAAAHoweAYJKoZIhvcNAQcGoGswaQIBADBkBgkqhkiG9w0BBwEwHgYJYIZIAWUDBAEuMBEEDN82389GaLiIi0MjSQIBEIA3B7h8jIOfmPJFpd0eNOWuX2zJkXzlPGiKVCl4xejqJbFs4zzSWdcAJQqBdMVMu9SAbpZu3tSh3g==
  - NYPL_OAUTH_SECRET=AQECAHh7ea2tyZ6phZgT4B9BDKwguhlFtRC6hgt+7HbmeFsrsgAAAIcwgYQGCSqGSIb3DQEHBqB3MHUCAQAwcAYJKoZIhvcNAQcBMB4GCWCGSAFlAwQBLjARBAzHT74p+My3E2mZL4UCARCAQ36SiGsER5gxOA9D4v2uQj2uyPy9tT4xE4aEeVBD/63Pqy1iGvnvsU/7c6Sa42dSFElVYUVEz9nGYv/ieNQzGEkx9rU=
  - LIB_ANSWERS_EMAIL_SASB=AQECAHh7ea2tyZ6phZgT4B9BDKwguhlFtRC6hgt+7HbmeFsrsgAAAHkwdwYJKoZIhvcNAQcGoGowaAIBADBjBgkqhkiG9w0BBwEwHgYJYIZIAWUDBAEuMBEEDDGdjzWd58Ys7Yw5BQIBEIA2QQ2FJiOkd27QWGR1KfPWpBLgrllDLTIUtodAAry+b/Knqar1XwjO4vF5Z+tIbMeg7EplgUJB
  - LIB_ANSWERS_EMAIL_LPA=AQECAHh7ea2tyZ6phZgT4B9BDKwguhlFtRC6hgt+7HbmeFsrsgAAAHgwdgYJKoZIhvcNAQcGoGkwZwIBADBiBgkqhkiG9w0BBwEwHgYJYIZIAWUDBAEuMBEEDH7zdJ58EU+hS4wWXgIBEIA1QpAqum+V8QkVFbZMP5s6FyRZ62FVnHAt8BJEFR9kNB5vwCZGD3/4dPTC9lzX0LNsS7NLeWM=
  - LIB_ANSWERS_EMAIL_SC=AQECAHh7ea2tyZ6phZgT4B9BDKwguhlFtRC6hgt+7HbmeFsrsgAAAHsweQYJKoZIhvcNAQcGoGwwagIBADBlBgkqhkiG9w0BBwEwHgYJYIZIAWUDBAEuMBEEDBw1n53MCMaHOrTneQIBEIA4psWgnymUdUfIRtWsVW6yKEbWJaZQhKew50zOC9C/9KeFP446mk0MWIWP06SimHYhRcf5kxY46OU=
  - DEVELOPMENT_LIB_ANSWERS_EMAIL=
  - APP_ENV=production
  skip_cleanup: true
  access_key_id: "$AWS_ACCESS_KEY_ID_QA"
  secret_access_key: "$AWS_SECRET_ACCESS_KEY_QA"
  on:
    branch: qa
notifications:
  email:
    on_failure: always
env:
  global:
    secure: xqc7vhlVO8YfQPQIvqZEf1cojPngGlvce0ErKcY8ThBe0yeKjyk6tHzpuBPAhJxMk70Cq5p0lJe6lzzSs/BZ64ScJhSjGQOYcLrmyeecbAk0AofCir+CFbQ92sTZH23c/Gh6q06canBvm8qxh8xevIjGvn9NuYu/15oKrX7Y5gr2jiJfLnwdnMECifZuY8nc7UAzMFmKT9Rgqw4AL2r3Hj2xiXfLbTidGSxFuNSbf7Pr4mv76EJJJsZnj8FnpLbGbUW4UbumQnEOUcTN1lm/NTnxVgkHkNydtxm7u0ZgKckRwElaFn2kv/2FBtPx7ZrndcOi54JJV2Ek6GCeHevXubC+/f8eTndXF6KvcPIyjAZaM5/bQvZoT00XZaJej8Yy9h9WwtsVuYH1WZ80Ng4ZiPzsazRY1Rgli91HTQVfkijgt3W6JK/kt84YIQgl6+a47G075XMjRIcSJgrwZ+bg0ebap+ZPip+Pr7rnHmEDm9HS/azmBLXAAd+X2XIqgrx5tId0QQ5FNBsONTfZLMcVriipExFdoDSy0rM7TkNgvWM0amIzxbyQjRoZ9dA7X7jo3EXUmOx8hIXB5cj8y4jIDOivY0ajePiG7kg4aDBi/qsXiftkrDrOIosqL4yB/hC/rWTetxWOBkYDA03DGXrMKVPl8rZ3XusxEH8OHbMERvE=
